.form {
  width: 700px;
  background: linear-gradient(315deg, transparent 75%, #5590d4 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #5590d4 0)-10px 0,
    linear-gradient(135deg, #2b61a7 50%, transparent 0) 0 0,
    linear-gradient(45deg, #1b376a 50%, #1a1656 0) 0 0 #561a16;
  background-size: 20px 20px;
}
